<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Web Progressions</title>
        <meta name="description" content="A One-Day Developer Event Focussing on Progressive Webapps and Emerging Web APIs">

        <meta property="og:title" content="Web Progressions">
        <meta property="og:site_name" content="Web Progressions">
        <meta property="og:url" content="https://webprogressions.org">
        <meta property="og:description" content="A One-Day Developer Event Focussing on Progressive Webapps and Emerging Web APIs">
        <meta property="fb:app_id" content="">
        <meta property="og:type" content="website">

        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300,700&subset=latin,greek' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" type="text/css" href='https://css.tito.io/v1' />

        <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
        <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />

    </head>

    <body>
      {{ content }}
  </body>

</html>
